(
    selected_tab: None,
    command_fg: None,
    selection_bg: Some("#1964a1"),
    selection_fg: None,
    cmdbar_bg: Some("#1964a1"),
    cmdbar_extra_lines_bg: Some("Black"),
    disabled_fg: Some("Gray"),
    diff_line_add: None,
    diff_line_delete: None,
    diff_file_added: None,
    diff_file_removed: None,
    diff_file_moved: None,
    diff_file_modified: None,
    commit_hash: Some("Red"),
    commit_time: Some("Magenta"),
    commit_author: Some("Yellow"),
    danger_fg: None,
    push_gauge_bg: None,
    push_gauge_fg: None,
    tag_fg: Some("Red"),
    branch_fg: Some("Red"),
)
