(
    selected_tab: Reset,
    command_fg: White,
    selection_bg: Rgb(25, 100, 161),
    selection_fg: White,
    cmdbar_bg: Rgb(25, 100, 161),
    cmdbar_extra_lines_bg: Black,
    disabled_fg: Gray,
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Yellow,
    commit_hash: Red,
    commit_time: Magenta,
    commit_author: Yellow,
    danger_fg: Red,
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
    tag_fg: Red,
    branch_fg: Red,
)
